.blogCard__container{
    background-color: #fff;
    border-radius: .2rem;
    cursor: pointer;
}
.blogCard__img img{
    width: 100%;
    height: 220px;
    border-radius: .2rem;
    object-fit: cover;  
}
.blogCard__content h6{
    color: #777AF2;
    background-color: #F5F6FE;
    display: inline;
    padding: .2rem .7rem;
    line-height: 2;
    font-weight: 700;
}
.blogCard__content{
    padding: .3rem .7rem;
    height: 220px;
}
.blogCard__content a{
    text-decoration: none;
    color: #fff;
}
.blogCard__content a:hover{
    color: #fff;
}


/* service card */
/* .blogCard__container{
    background-color: #FFFFFF;
    padding: 1rem;
    border: .1rem solid rgb(238, 235, 235);
    border-radius: .4rem;
    transition: all ease 0.3s;
    cursor: pointer;
 }
 .blogCard__container:hover{
 box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
 }
 .blogCard__img{
     text-align: center;
 }
 .blogCard__content{
     text-align: center;
 }
 .blogCard__content h4{
     color: #1E266D;
     font-weight: 700;
     padding: 2rem 0;
 }
 .hello{
     color: red;
 }
  */