.pricing__container{
    height: 800px;
    padding: 3rem 0;
    /* margin-bottom: 2rem; */
    background-color: #F5F6FE;
}

.pricing__title h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -.01;
    color: #1E266D;
}
.pricing__title h6{
    font-size: 21px;
    line-height: 1.5;
    font-weight: 500;
    color: #777AF2;
}
.billing__plan button{
 border: none;
}
.monthly__billing{
    background-color: #777AF2;
    color: #FFFFFF;
    padding: 10px 35px;
    border: 2px solid #777AF2;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.5s;
  }
 .monthly__billing:hover{
    background-color: #FFFFFF;
    color: #777AF2;
    border: 2px solid #777AF2;
  }
.yearly__billing{
    background-color: #FFFFFF;
    color: #777AF2;
    padding: 10px 35px;
    border: 2px solid #777AF2;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.5s;
}
.yearly__billing:hover{
    background-color: #777AF2;
    color: #FFFFFF;
}
