.header__container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow: hidden;
}
.header__content{
    padding-left: 3rem;
}
.header__miniTitle{
    position: relative;
}
.header__miniTitle .title1{
    font-size: 1rem;
    background-color: #8A71D6;
    /* background-color: #0D8FBA; */
    color: #fff;
    padding: 5px 20px;
    line-height: 1.3;
    display: inline-flex;
    border-radius: 30px!important;
    overflow: hidden;
    position: relative;
    Z-index: 1;

}
.header__miniTitle .title2{
    font-size: 1rem;
    background: #EBEBFD;
    color: #777AF2;
    padding: 5px 20px;
    line-height: 1.3;
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 92px;
    z-index: 0;

}
.header__miniTitle span{
    padding-left: 5px;
}
.header__content h1{
    color: #1e266d;
    font-weight: 800;
    font-family: Nunito;
    font-size: 60px;
    line-height: 60px;
    padding:  25px 0;
}
.header__content h6{
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 40px;
    font-size: 20px;
    color: #445781;
}

.header__image{
    width: 130%;
    cursor: pointer;
}

