.footer__container{
    height: 100vh;
    padding: 5rem 0;
}
.footer__ourself img{
    width: 35%;
    cursor: pointer;
}

.footer__ourself h5{
    padding: 2rem 0;
}
.footer__ourself h6{
    font-size: 20px;

}