.privacyPolicy__container{
    width: 100%;
    background: url('../../assets/dots-shape.png')no-repeat;
    background-size: contain;
    background-color: #F5F6FE;  
}
.privacy__title{
    text-align: center;
    padding: 4rem 0;
}
.privacy__title h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #777AF2;
}
.privacy__title p{
    color: #445781;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 0;
}

.privacy__rules{
    width: 80%;
    padding-bottom: 5rem;
}
.general__information{
    padding-top: 1rem;
}
.rules__title{
    color: #1F276E;
    font-weight: 700;
    padding-top: 1rem;
}
.rules__description{
    text-align: justify;
    color: #757575;
    font-weight: 500;
}
.rules__description span{
    color: #777AF2;
    cursor: pointer;
}