.notFound__container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .7rem;
    /* background-color: #e2e2e7; */
    
}
.notFound{
    height: 600px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: aliceblue;
}
.notFound__img img{
    width: 100%;
    padding-top: 7rem ;
}
.notFound__content{
    text-align: center;
}
.notFound__content h2{
   padding-top: 6rem;
   font-size: 7rem;
   font-weight: 700;
   color:#777AF2;
}
.notFound__content h4{
    color: red;
    font-size: 2rem;
    font-weight: 700;
}
.notFound__content p{
    font-size: 1rem;
    padding-bottom: 3rem;
}
.notFound__content a{
    margin-top: 3rem ;
    text-decoration: none;
}
.notFound__content a:hover{
    color: #FFF;
}