.signUp__container{
    text-align: center;
    background-color: rgb(228, 221, 221);
    color: #31397A;
    height: 90.5vh;
    padding: .5rem 0 0rem 0;
    border-radius: 10px;
}
.signUp__container h2{
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: .3rem;
    color: #8d74e7;
}
.signUp__content{
    border: 1px solid gainsboro;
    /* height: 75vh; */
    background-color: #F5F6FE;;

}

.signUp__inputs h3{
font-size: 2rem;
font-weight: 700;
padding-top: .3rem;
}
.signUp__inputs p{
    color: #777AF2;
    font-size: 1.2rem;
    font-weight: 500;
}

/* form */
.input{
    display: block;
    width: 380px;
    padding: .5rem .7rem;
    margin: 1rem auto;
    outline: none;
    border: none;
    border: 1px solid rgb(197, 193, 193);
    border-radius: 5px;
}
.input:focus{
    border: 1px solid #777AF2;
}
.button{
    background-color: #777AF2;
    color: #FFFFFF;
    padding: 10px 35px;
    width: 380px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 800;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.7s;
  }
.signUp__img{
    background-color: #FFFFFF;
}

.signUp__img img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.sign__up {
    color: #31397A;
    padding: .3rem 0;
    
}
.sign__up h5{
padding:.2rem;
}

/* social login */

.privacy__policy{
    margin-right: 10px;
    font-size: 1rem;
    text-decoration: none;
}
.forgot__password{
    font-size: 1rem;
}






