.order__title{
    text-align: center;
    font-weight: 700;
    color: #777AF2;
    padding-top: .5rem;
}
.myOrder__container{
    background-color: #FFFFFF;
    padding: 2rem;
    margin-top: 1rem;
    height: 65vh;
}
.delete__field{
    font-weight: 700;
    cursor: pointer;
    background-color: red;
}

.delete__btn{
    color: red;
    font-weight: 600;
}